* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #1ea896;
  flex-direction: row;
}
.contenedor0 {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 256px;
}
h3 {
  margin: 5px;
}
/* .contenedor1 {
  width: 80%;
  height: 60vh; /*100vh*/
/* margin: auto;
  display: none; */
/*display: flex;*/ /*esto lo tendrias que activar con js*/
/*flex-wrap: wrap;*/ /*activar cuando se active el display flex
} */
/*clases para mostrar el contenedor 1*/
.muestro {
  width: 80%;
  height: 80vh; /*100vh*/
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.muestro2p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.quienJuega {
  display: flex;
  justify-content: center;
  align-items: center;
}
.oculto {
  display: none;
}
button {
  display: block;
}
.cuadro {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.3s;
  position: relative;
}

.cuadro:active {
  transform: scale(0.97);
  transition: transform 0.1s;
}

.cuadro.flip {
  transform: rotateY(180deg);
}

.frente,
.dorso {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}
.frente {
  transform: rotateY(180deg);
}
.bi-controller {
  width: 100px;
  height: 100px;
  color: #4c5454;
}
.dorso {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4c5454; */
  background-color: #ff715b;
  border: 3px solid #4c5454;
}

/*colores para el juego*/
.color0 {
  background-color: darkcyan;
}
.color1 {
  background-color: rgb(219, 237, 28);
}
.color2 {
  background-color: darkturquoise;
}
.color3 {
  background-color: darkblue;
}
.color4 {
  background-color: rgb(119, 244, 105);
}
.color5 {
  background-color: darkorchid;
}
.color6 {
  background-color: darkorange;
}
.color7 {
  background-color: darkred;
}
