* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    height: 100vh;
    display: flex;
    background: black;
  }
  
.contenedor{
    width: 80%;
    height: 60vh;/*100vh*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* perspective: 1000px; */
  }
  
.cuadro {
    width: 100px;
    height: 100px;
    /* width: calc(25% - 10px);
    height: calc(25% - 10px); */
    /* margin: 5px; */
    position: relative;
  }
  

.frente,
.dorso{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
  }

.dorso{
    background-image: radial-gradient(#0f0,rgba(20, 136, 10, 0.801));
}  

/*colores para el juego*/
.color0 { background-color: darkcyan; }
.color1 { background-color: rgb(219, 237, 28); }
.color2 { background-color: darkturquoise; }
.color3 { background-color: darkblue; }
.color4 { background-color: rgb(119, 244, 105); }
.color5 { background-color: darkorchid; }
.color6 { background-color: darkorange; }
.color7 { background-color: darkred; }

